@media screen and (max-width: 800px) {
    #blocleft {
        width: 7em;
    }
    #blocfond {
        left: 8em;
    }

    .file-input {
        width: 7em;
    }
    .button20, .button21, .button22 {
      height: 2.15em;
      width: 2.15em;
    }
    #item1 {
      height: 2em;
    }

    .file-input {
      bottom: 10em;
    }

    .file-input label, .mini, .valid {
      width: 6rem;
      font-size: 12px;
    }

  }

  @media screen and (min-width: 1200px) {

    .mini5 {
        margin-top: 0.2em;
    }
    .mini6 {
        margin-top: 0.2em;
    }
    .mini7 {
        margin-top: 0.2em;
    }
    .mini8 {
        margin-top: 0.2em;
    }
  }

  @media (orientation: landscape) {
    body {
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    body {
      flex-direction: column;
    }
  }  