@-ms-viewport {
    width: device-width;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border: none;
    outline: none;
    background-color: #dcdcdc;
    font-family: 'Share Tech Mono', monospace;
    color: #E0DFDA;
    overflow: hidden;
    transition: 500ms all;
}

button {
    width: 15em;
    margin-top: 0em;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.8rem;
    color: #77787B;
    letter-spacing: 0.2em;
    line-height: 2em;
    cursor: pointer;
}

.bf {
    width: auto;
    font-family: 'Rokkitt', serif;
    font-size: 0.65rem;
    padding-left: 2.5em;
    padding-right: 2.5em;
    transform: scaleY(1.1);
}

header {
    position: fixed;
    width: 100%;
    height: 9em;
    background-color: #e8e7e3;
    z-index: 5;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    transition: 500ms all;
    overflow: hidden;
}

h1 {
    position: absolute;
    left: 50%;
    width: auto;
    color: rgba(120, 120, 120, 0.9);
    letter-spacing: 0.5em;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 2rem;
    transform: translate(-50%, 0%) scaleY(1.1);
    transition: 500ms all;
}

h2 {
    position: absolute;
    text-align: center;
    width: 100%;
    color: rgba(120, 120, 120, 0.8);
    font-family: 'Rokkitt', serif;
    font-size: 1rem;
    font-weight: 400;
}

hr {
    position: relative;
    top: -0.55em;
    opacity: 0.75;
    margin-right: 0.75em;
    color: inherit;
    border-bottom: none;
    border-left: none;
    border-right: none;
    transform: scaleX(1.15) scaleY(2);
}

hr.hr2 {
    position: absolute;
    top: 1.75em;
    left: 50%;
    width: 60%;
    opacity: 0.75;
    color: inherit;
    border-bottom: none;
    border-left: none;
    border-right: none;
    transform: translate(-50%, 0%);
}

.header_desc {
    position: absolute;
    left: 50%;
    top: 4.25em;
    color: rgba(120, 120, 120, 0.75);
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.35em;
    font-family: 'Rokkitt', serif;
    transform: translate(-50%, 0%);
    transition: 500ms all;
}

.header_buttons {
    position: relative;
    left: 50%;
    top: 7.7em;
    transform: translateX(-50%);
    display: inline-block;
}

.bh {
    width: auto;
    height: 1.9em;
    font-weight: 400;
    letter-spacing: 0.3em;
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 0.85rem;
    color: rgba(120, 120, 120, 0.85);
    line-height: 1.5em;
    padding-left: 2.5em;
    padding-right: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.1em;
    transition: 250ms all;
    transform: scaleY(1.1);
}

#bh1 {
    background-color: #DCDBD7;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px) scaleY(1.1);
}

/* .bh:hover {
    background-color: #DCDBD7;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px) scaleY(1.1);
}

.bh:active {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
} */

#user {
    position: absolute;
    top: 1em;
    right: 1em;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    z-index: 10;
}

#pic {
    width: 7em;
    height: 7em;
    border-radius: 50%;
}

#body {
    position: absolute;
    top: 9em;
    bottom: 2em;
    width: 100%;
    color: rgba(120, 120, 120, 0.1);
    letter-spacing: 0.2em;
    font-size: 0.45rem;
    text-align: justify;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    pointer-events: none;
}

#texture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(120, 120, 120, 0.1);
    letter-spacing: 0.2em;
    font-size: 0.45rem;
    text-align: justify;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    pointer-events: none;
    z-index: -1;
}

.boldify {
    font-size: 0.55rem;
    font-weight: 900;
}

#contact_form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20em;
    height: 25em;
    margin-top: 3.5em;
    background-color: #e8e7e3;
    border-radius: 0.5em;
    line-height: 0.9em;
    transform: translate(-50%, -50%) scale(1.15);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    transition: 500ms all;
    overflow: hidden;
    display: none;
}

#clear_3 {
    position: absolute;
    top: 0;
    right: -0.35em;
    width: 35px;
    height: 35px;
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
    font-size: 1rem;
    color: #b84040bf;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 30 !important;
    display: visible;
    cursor: pointer;
    pointer-events: all;
}

.infos {
    position: relative;
    top: 4.75em;
    left: 3.75em;
    color: rgba(120, 120, 120, 0.85);
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 0.25em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
}

#form {
    position: absolute;
    top: 8em;
    left: 50%;
    transform: translate(-50%, 0%);
}

#c_name {
    position: relative;
    height: 2.75em;
    width: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    border-radius: 0.25em;
    padding: 0.75em;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
    color: rgba(120, 120, 120, 0.75);
    border: none;
    outline: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
}

#c_mail {
    position: relative;
    height: 2.75em;
    width: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    border-radius: 0.25em;
    padding: 0.75em;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
    color: rgba(120, 120, 120, 0.75);
    border: none;
    outline: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
}

#c_msg {
    position: relative;
    height: 8.5em;
    width: 150%;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    border-radius: 0.25em;
    padding: 0.75em;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
    color: rgba(120, 120, 120, 0.75);
    border: none;
    outline: none;
    resize: none;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
}

#submit {
    position: relative;
    height: 2.75em;
    width: 150%;
    left: 50%;
    margin-top: 0.35em;
    margin-bottom: 0.35em;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.25em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
    background-color: #DCDBD7;
    border: none;
    border-radius: 0.25em;
    color: rgba(120, 120, 120, 0.85);
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, 0%);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
    transition: 750ms all;
}

#submit:hover {
    filter: brightness(0.95) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.15));
}

#c_msg::placeholder {
    position: absolute;
    top: 1.5em;
    margin-left: 0.25em;
    color: rgba(120, 120, 120, 0.5);
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 0.25em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
}

::placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin-left: 0.25em;
    color: rgba(120, 120, 120, 0.5);
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 0.25em;
    line-height: 10px;
    font-family: 'Rokkitt', serif;
}

footer {
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0;
    border-top: 0.02em solid rgba(120, 120, 120, 0.25);
    background-color: #e8e7e3;
    transition: 500ms all;
}

.footer_buttons {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 0.2em;
}