@-ms-viewport {
    width: device-width;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border: none;
    outline: none;
    background-color: #bbbbbb;
    font-family: 'Share Tech Mono', monospace;
    color: #E0DFDA;
    overflow: hidden;
    transition: 500ms all;
}

button {
    width: 15em;
    margin-top: 0em;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.8rem;
    color: #77787B;
    letter-spacing: 0.2em;
    line-height: 2em;
    cursor: pointer;
}

.bf {
    width: auto;
    font-family: 'Rokkitt', serif;
    font-size: 0.65rem;
    padding-left: 2.5em;
    padding-right: 2.5em;
    transform: scaleY(1.1);
}

header {
    position: fixed;
    width: 100%;
    height: 9em;
    background-color: #e8e7e3;
    z-index: 5;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    transition: 500ms all;
    overflow: hidden;
}

h1 {
    position: absolute;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0%);
    color: #77787B;
    letter-spacing: 0.4em;
    font-weight: 400;
    transition: 500ms all;
}

h1:hover {
    letter-spacing: 20px;
}

.header_desc {
    position: absolute;
    left: 50%;
    top: 5em;
    color: #77787B;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.35em;
    font-family: 'Rokkitt', serif;
    transform: translate(-50%, 0%);
    transition: 500ms all;
}

.header_buttons {
    position: relative;
    left: 50%;
    top: 7.7em;
    transform: translateX(-50%);
    display: inline-block;
}

.bh {
    width: auto;
    height: 1.9em;
    font-weight: 400;
    letter-spacing: 0.3em;
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 1.5em;
    padding-left: 2.5em;
    padding-right: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 0.2em;
    transition: 250ms all;
    transform: scaleY(1.1);
}

.bh:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
    transform: translateY(-3px) scaleY(1.1);
}

.bh:active {
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow:inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
}

#user {
    position: absolute;
    top: 1em;
    right: 1em;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    z-index: 10;
}

#pic {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    transition: 1000ms all;
}

footer {
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0;
    background-color: #e8e7e3;
    transition: 500ms all;
}

.footer_buttons {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(120, 120, 120, 0.5);
    border-radius: 0.2em;
}