@-ms-viewport{
    width: device-width;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border: none;
    outline: none;
    background-color: #bbbbbb;
    font-family: 'Share Tech Mono', monospace;
    color: #E0DFDA;
    overflow: hidden;
    transition: 500ms all;
}

button {
    width: 15em;
    margin-top: 0em;
    background: transparent;
    border: none;
    outline: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 0.8rem;
    color: #77787B;
    letter-spacing: 0.2em;
    line-height: 2em;
    cursor: pointer;
}

hr {
    margin: -0.1em;
    opacity: 0.25;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 1em;
    transform: scaleX(2);
}

.bf {
    width: auto;
    font-size: 0.6rem;
    padding-left: 3em;
    padding-right: 3em;
}

header {
    position: fixed;
    width: 100%;
    height: 9em;
    background-color: #e8e7e3;
    z-index: 5;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.25));
    transition: 500ms all;
}

h1 {
    position: absolute;
    left: 50%;
    width: auto;
    transform: translate(-50%, 0%);
    color: #77787B;
    letter-spacing: 0.4em;
    font-weight: 400;
    transition: 500ms all;
}

h1:hover {
    letter-spacing: 20px;
}

.header_desc {
    position: absolute;
    left: 50%;
    top: 5em;
    color: #77787B;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 0.3em;
    transform: translate(-50%, 0%);
    transition: 500ms all;
}

.header_buttons {
    position: relative;
    left: 50%;
    top: 7.35em;
    transform: translateX(-50%);
    display: inline-block;
}

.bh {
    width: auto;
    font-weight: 400;
    letter-spacing: 0.3em;
    font-size: 0.8rem;
    line-height: 1.9em;
    padding-left: 3em;
    padding-right: 3em;
    transition: 250ms all;
}

#user {
    position: absolute;
    top: 1em;
    right: 1em;    
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

#pic {
    width: 7em;
    height: 7em;
    border-radius: 50%;
    transition: 1000ms all;
}

#pic:hover {
    transform: rotateZ(360deg);
}

footer {
    position: fixed;
    width: 100%;
    height: 2em;
    bottom: 0;
    background-color: #e8e7e3;
    transition: 500ms all;
}

.footer_buttons {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}