.real {
    position: absolute;
    top: 12em;
    left: 3em;
    right: 3em;
    bottom: 5em;
    display: none;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.card_large1 {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 50%;
    left: 50%;
    max-height: 30em;  
    max-width: 20em; 
    min-width: 14em;
    min-height: 20em; 
    margin-bottom: 3em;
    border-radius: 1em;
    background-color: #e8e7e3;
    transform: translate(100%, -50%);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    transition: 500ms all;
}

.card_large1:hover {
    transform: translate(100%, -55%);
}

.card_large2 {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 50%;
    left: 50%;
    max-height: 30em;  
    max-width: 20em;   
    min-width: 14em;
    min-height: 20em; 
    margin-bottom: 3em;
    border-radius: 1em;
    background-color: #e8e7e3;
    transform: translate(-50%, -50%);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    transition: 500ms all;
}

.card_large2:hover {
    transform: translate(-50%, -55%);
}

.card_large3 {
    position: absolute;
    width: 20%;
    height: 80%;
    top: 50%;
    left: 50%;
    max-height: 30em;  
    max-width: 20em;   
    min-width: 14em;
    min-height: 20em; 
    margin-bottom: 3em;
    border-radius: 1em;
    background-color: #e8e7e3;
    transform: translate(-200%, -50%);
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    transition: 500ms all;
}

.card_large3:hover {
    transform: translate(-200%, -55%);
}