html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  	background-color: transparent;
    position: absolute;
    margin: 0 !important;
    }
   
canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    outline: none;
}